
/* 
    Document   : style
    Created on : Dec 9, 2013, 1:26:56 PM
    Author     : Manoj
    Description: Purpose of the stylesheet follows.
*/
root {
	display: block;
}

body {
	background-color: #999;
	font-family: "Verdana" /* , "Trebuchet MS", "Arial", "Helvetica",  "sans-serif" */;
}

#main {
	background-color: bisque;
	width: 1400px;
	height: 1440px;
	margin: 10px 50px 10px 50px;
	border: 3px solid gray;
	border-radius: 3px;
}

#mainHome {
	background-color: bisque;
	width: 1400px;
	height: 1242px;
	margin: 10px 50px 10px 50px;
	border: 3px solid gray;
	border-radius: 3px;
}

#mainProfile {
	background-color:bisque;
	width: 1400px;
	height: 1500px;
	margin: 10px 50px 10px 50px;
	/* border: 3px solid gray; */
	border-radius: 3px;
}

#mainMsg {
	background-color: transparent;
	width: 1400px;
	height: fit-content;
	margin: 10px 50px 10px 50px;
	border: 3px solid gray;
	border-radius: 3px;
}

#mainInterestAreas {
	background-color: yellow;
	width: 1400px;
	height: fit-content;
	margin: 10px 50px 10px 50px;
	border: 3px solid gray;
	border-radius: 3px;
}

#oldnotification:hover, #close:hover
{
cursor: pointer;
}

#logo1 {
	width: 141px;
	height: 143px;
	margin-left: -1000px;
	margin-bottom: -144px;
}

.style1 {
	font-family: "3D LET (BRK)"
}

.style2 {
	font-family: "Adobe Garamond Pro"
}

.style6 {
	font-size: 24px
}

.style7 {
	font-size: 9px
}

.style8 {
	font-size: 10px;
}

.style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}

.style16 {
	font-family: Verdana;
	margin-right: 100px;
}

.style21 {
	font-family: Verdana;
	font-size: 9px;
}

.style24 {
	font-size: 12px
}

.style27 {
	color: #0099FF;
	border: 1px;
	border-color: #0066FF;
	margin-right: 120px;
}

.style34 {
	color: #686868
}

.style36 {
	color: #99CC33;
	font-size: 30px;
	font-family: "Adobe Caslon Pro Bold";
}

.style42 {
	color: #cococo;
	font-size: 30px;
}

.style46 {
	color: #686868;
	font: 12px Verdana;
}

.style59 {
	color: #686868;
	font: 12px Verdana;
	font-family: Verdana;
}

.style64 {
	font-size: 24px;
	color: #99CC33;
}

.style71 {
	color: #99CC00
}

.style72 {
	font-family: "Adobe Caslon Pro Bold";
	font: bold;
	color: #99CC33;
}

.style74 {
	font-family: Verdana
}

.style75 {
	color: #99CC33
}

.style76 {
	font-family: Verdana;
	color: #99CC33;
}

.style77 {
	font-family: ELEGANCE;
	color: #686868;
}

#Header {
	border-radius: 3px;
	background-color: #fcca7b;
	width: 100%;
	height: 200px;
	margin: 0px 50px 0px 0px;
	
}

#hiderMenu {
	border-radius: 3px;
	background: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 38%, #F8B500 51%, #FBDF93 100%) repeat scroll 0% 0% transparent;
	width: 100%;
	height: 40px;
	margin: 0px 50px 5px 0px;
	font-size: 130%;
	
}

#hiderMenuHome {
	border-radius: 3px;
	background: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 38%, #F8B500 51%, #FBDF93 100%) repeat scroll 0% 0% transparent;
	width: 1400px;
	height: 40px;
	margin: 0px 50px 0px 0px;
	font-size: 150%;
	border: 1px solid gray;
}

#anchor{
    margin-right: 30px;
    font:normal 18px Trebuchet MS;
    color:Black;
    text-decoration: none;
 }
 #anchor:hover{
  	margin-right: 30px;
    font:normal 18px Trebuchet MS;
    color:green;
    text-decoration: none;
 }
#input_search {
	margin-top: 10px;
	margin-left: 400px;
	width: 350px;
	height: 30px;
	border-radius: 20px;
	border-width: 5px;
	border-color: black;
	background-color: white;
	font-size: 100%;
}

#profile_photo {
	float: right;
	margin-right: 50px;
	font-size: 100%;
}

#Updated_photo {
	height: 50px;
	width: 52px;
	float: right;
	margin-right: 50px;
	font-size: 100%;
}

#Updated_photo:hover {
	height: 150px;
	width: 152px;
	float: right;
	margin-right: 50px;
	font-size: 100%;
}

#leftMain {
	border-radius: 3px;
	float: left;
	width: 300px;
	height: 1127px;
	overflow: auto;
	background-color: transparent;
}

#leftMainHome {
	border-radius: 3px;
	float: left;
	width: 300px;
	height: 995px;
	overflow: auto;
	background-color: bisque;
	/* border: 1px solid aqua; */
}

#leftMain1 {
	float: left;
	width: 290px;
	height: 323px;
	overflow: auto;
	border-radius: 3px;
	margin: 5px 2px 0px 2px;
	background-color: bisque;
}

#leftMain2 {
	border-radius: 3px;
	float: left;
	width: 290px;
	height: 323px;
	margin: 5px 2px 0px 2px;
	background-color: bisque;
}

#leftMain3 {
	border-radius: 3px;
	float: left;
	width: 290px;
	height: 323px;
	overflow: auto;
	margin: 5px 2px 0px 2px;
	background-color: bisque;
}

#MiddleTop {
	border-radius: 35px;
	width: 790px;
	height: 100px;
	background-color: bisque;
	border: 1px solid rgba(245, 186, 118, 0.8);
}

#MiddleTopHome {
	border-radius: 2px;
	width: 790px;
	height: 100px;
	background-color: bisque;
	border: 1px solid rgba(245, 186, 118, 0.8);
}

#MiddleTopEvent {
	border-radius: 35px;
	width: 790px;
	height: 350px;
	background-color: bisque;
	border: 1px solid rgba(245, 186, 118, 0.8);
}

#MiddleTopEvent:hover {
	border-radius: 35px;
	width: 790px;
	height: 350px;
	background-color: whitesmoke;
	border: 1px solid rgba(245, 186, 118, 0.8);
}

#MiddleTopProduct {
	border-radius: 3px;
	width: 750px;
	height: 300px;
	margin-left:20px;
	background-color: bisque;
	border: 1px solid rgba(245, 186, 118, 0.8);
	display: none;
	box-shadow: 10px 10px 5px #888888;
}

#middle {
	margin-top: 5px;
	border-radius: 3px;
	width: 790px;
	height: 893px;
	background-color: bisque;
	border: 1px solid aqua;
}

#middleHome {
	margin-top: 0px;
	border-radius: 3px;
	width: 790px;
	height: 893px;
	background-color: bisque;
	/* border: 1px solid aqua; */
}

#middleMsg {
	margin-top: 5px;
	border-radius: 3px;
	width: 790px;
	height: 999px;
	background-color: bisque;
	border: 1px solid aqua;
}

#middleEvent {
	margin-top: 5px;
	border-radius: 3px;
	width: 790px;
	height: 645px;
	background-color: bisque;
	border: 1px solid aqua;
}

#middleStep4 {
	margin-top: 5px;
	border-radius: 3px;
	width: 1090px;
	height: 645px;
	background-color: bisque;
	border: 1px solid gray;
}

#middleStep10 {
	margin-top: 5px;
	border-radius: 3px;
	width: 780px;
	height: 715px;
	background-color: bisque;
	border: 1px solid aqua;
}

#middleOccupation {
	margin-top: 5px;
	border-radius: 3px;
	width: 780px;
	height: 645px;
	background-color: bisque;
	border: 1px solid aqua;
}

#ShowStatusUpdet {
	width: 750px;
	margin-top: 10px;
	margin-left: 5px;
	float: left;
}

#MsgShowArea {
	margin: 5px auto auto 17px;
	width: 735px;
	height: 400px;
}

#MsgToArea {
	margin: 5px auto auto 17px;
	width: 735px;
	height: 90px;
}

#MsgTo {
	float: left;
	margin: 5px auto auto 5px;
}

#CommentToStatus {
	background-color: burlywood;
}

#rightMain {
	border-radius: 3px;
	margin-top: -1003px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
}

#rightMainHome {
	border-radius: 3px;
	margin-top: -1000px;
	width: 300px;
	height: 995px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

#rightMainPhotos {
	border-radius: 3px;
	margin-top: -648px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid gray;
}

#rightMainEvents {
	border-radius: 3px;
	margin-top: -1005px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid gray;
}

#rightMainProducts {
	border-radius: 3px;
	/* margin-top: -955px; */
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid gray;
	
}

#rightMainAccSetting {
	border-radius: 3px;
	margin-top: -895px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

/* #InterestAreas:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: azure;
    
    
} */
#rightMainMSG {
	border-radius: 3px;
	margin-top: -1002px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

#InterestAreas {
	border-radius: 3px;
	border: 1px solid gray;
	float: left;
	width: 468px;
	height: 300px;
	background-color: bisque;
	margin-bottom: 1px;
	overflow: auto;
	padding-right: 20px;
	padding-bottom: 20px;
}

#OutsideInterestAreas{
	
	border-radius: 3px;
	border: 1px solid gray;
	float: left;
	width: 468px;
	height: 300px;
	background-color: bisque;
	overflow: hidden;
}

/* #InterestAreas:hover {
	border-radius: 3px;
	background-color: whitesmoke;
	border: 1px solid aqua;
}
 */
#Products {
	border-radius: 3px;
	border: 1px solid aqua;
	width: 466px;
	height: 300px;
	background-color: bisque;
	margin-bottom: 2px;
}
#ProfileProducts {
	border-radius: 3px;
	/* margin-right:465px; */
	width: 760px;
	height: 300px;
	background-color: bisque;
	margin-bottom: 1px;
	overflow: auto;
	padding-right: 20px;
	padding-bottom: 20px;
}
#OutsideProfileProducts {
	border-radius: 3px;
	border: 1px solid rgba(245, 186, 118, 0.8);
	width: 760px;
	height: 300px;
	background-color: bisque;
	margin-bottom: 5px;
	overflow: hidden;
	margin-left: 10px;
}
/* #Products:hover {
	border-radius: 3px;
	border: 1px solid aqua;
	background-color: whitesmoke;
} */

#Friends {
	/* float: right; */
	border-radius: 3px;
	/* border: 1px solid gray; */
	background-color: bisque;
	margin-top: -303px;
	width: 466px;
	height: 300px;
}

/* #Friends:hover {
	border-radius: 3px;
	border: 1px solid aqua;
	background-color: whitesmoke;
} */

#ProfileDetails {
	/* margin-top: 1px; */
	float: left;
	border-radius: 3px;
	/* border: 1px solid gray; */
	background-color: bisque;
	width: 760px;
	height: auto;
	overflow: auto;
	padding-right: 20px;
	padding-bottom: 8px;
}

#OutsideProfileDetails{
	margin-bottom: 5px;
	float: left;
	border-radius: 5px;
	border: 1px solid rgba(245, 186, 118, 0.8);
	background-color: bisque;
	width: 760px;
	height: auto;
	overflow: hidden;
	margin-left: 10px;
	
}
#InsideProfileDetails{
	
	width: 760px;
	height: auto;
	/* margin-left: 20px; */
	margin-right: 10px;
}

/* #ProfileDetails:hover {
	border-radius: 3px;
	border: 1px solid lime;
	background-color: whitesmoke;
} */

#EditProfileDetails{
	
	float:right;
	width: 50px;
	height: 20px;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
}


#Photos {
	border-radius: 3px;
	
	background-color: bisque;
	
	width: 460px;
	height: 300px;
	overflow: auto;
	padding-right: 22px;
	/* padding-bottom: 20px; */
}
#outside_Photos{
	border-radius: 3px;
	border: 1px solid gray;
	background-color: bisque;
	margin-top: 4px;
	width: 460px;
	height: 300px;
	overflow: hidden;
}
/* #Photos:hover {
	border-radius: 3px;
	border: 1px solid black;
	
} */

#RightUpdatedStatus {
	border-radius: 3px;
	border: 1px solid aqua;
	background-color: bisque;
	margin-top: 5px;
	width: 460px;
	height: 1310px;
}

#RightUpdatedStatusProfile {
	border-radius: 3px;
	
	background-color: bisque;
	margin-top: 2px;
	width: 460px;
	height: 1317px;
	overflow: auto;
	padding-right: 18px;
	padding-bottom: 18px;
}
#OuterRightStatusProfile{
	border-radius: 3px;
	border: 1px solid gray;
	background-color: bisque;
	margin-top: 2px;
	width: 460px;
	height: 1317px;
	overflow: hidden;
	
}

#RightUpdatedStatus:hover {
	border-radius: 3px;
	border: 1px solid aqua;
	background-color: whitesmoke;
}

#NeedTop {
	border-radius: 10px;
	width: 790px;
	height: 250px;
	background-color: bisque;
	display: none;
	border: 1px solid gold;
}

#NeedTopHome {
	float: right;
	/*margin-right: 305px;*/
	margin-left: 305px;
	border-radius: 35px;
	width: 790px;
	height: 270px;
	background-color: bisque;
	display: none;
	margin-bottom: 35px;
	border: 1px solid aqua;
	position: absolute;
}

#NeedTopProfile { /*float: right;*/
	margin-left: 305px;
	border-radius: 35px;
	width: 790px;
	height: 270px;
	background-color: bisque;
	display: none;
	margin-bottom: 35px;
	border: 1px solid aqua;
	position: absolute;
}

#NotificationTopHome { /*float: right;*/
	/*margin-right: 305px;*/
	border-radius: 15px;
	width: 350px;
	height: auto;
	background-color: bisque;
	display: none;
	/*margin-bottom: 35px;*/
	margin-left: 650px;
	border: 1px solid gray;
	position: absolute;
}

#RequestTopHome {
	border-radius: 15px;
	width: 350px;
	height: auto;
	background-color: bisque;
	display: none;
	margin-left: 820px;
	border: 1px solid gray;
	position: absolute;
}

#SettingTopHome {
	border-radius: 15px;
	width: 350px;
	height: auto;
	background-color: bisque;
	display: none;
	margin-left: 950px;
	border: 1px solid gray;
	position: absolute;
}

#NeedRightMain {
	border-radius: 10px;
	margin-top: -1002px;
	width: 300px;
	height: 1000px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

#NeedMiddle {
	margin-top: 5px;
	border-radius: 10px;
	width: 790px;
	height: 1000px;
	background-color: bisque;
	border: 1px solid aqua;
}

#info_step2 {
	height: 505px;
	width: 790px;
	background-color: bisque;
	margin-top: 5px;
	border-radius: 10px;
}

#leftMainInterestAreas {
	border-radius: 3px;
	float: left;
	margin-top: 5px;
	width: 300px;
	height: 505px;
	overflow: auto;
	background-color: bisque;
	/* border: 1px solid aqua; */
}

#leftMainStep3 {
	border-radius: 3px;
	float: left;
	margin-top: 5px;
	width: 300px;
	height: 645px;
	overflow: auto;
	background-color: bisque;
	/* border: 1px solid gray; */
}

#leftMainStep10 {
	border-radius: 3px;
	float: left;
	margin-top: 5px;
	width: 300px;
	height: 713px;
	overflow: auto;
	background-color: bisque;
	/* border: 1px solid aqua; */
}

#rightMainInterestAreas {
	border-radius: 3px;
	margin-top: -507px;
	width: 300px;
	height: 505px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

#rightMainStep3 {
	border-radius: 3px;
	margin-top: -647px;
	width: 300px;
	height: 644px;
	background-color: bisque;
	float: right;
	border: 1px solid gray;
}

#rightMainStep10 {
	border-radius: 3px;
	margin-top: -715px;
	width: 300px;
	height: 712px;
	background-color: bisque;
	float: right;
	border: 1px solid aqua;
}

#RightProfile {
	width: 463px;
	height: 1660px;
	margin-left: 937px;
}

#aa {
	height: 100px;
	width: 100px;
	background: red;
	display: none;
}


#ShowStatusUpdetProduct{
	width: 780px;
	height:1130px;
    margin-top: 10px;
    float: left;
	overflow: auto;
	border-radius:5px;
	padding-right: 20px;
	padding-bottom: 8px;
}

#outsideShowStatusUpdetProduct
{
	width:780px;
	height:1130px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

#ShowProductUpdetImage{
    width: 120px;
    height:100px;
    margin-top: 10px;
    /* margin-left: 5px; */
    float: left;
    background-color: white;
    border-radius:5px;
}
#ShowProductInfo{
    width: 600px;
    height:100px;
    margin-top: 10px;
    /* margin-left: 5px; */
    float: right;
    background-color: #fcca7b;
    border-radius:5px;
}
#ShowProductInfoMain{
	width: 720px;
	height: 102px;
	margin-top: 10px;
	
}
#ProductInfoheading{
	margin-left: -400px;
	
	
}

#productsearch{
	margin-top:-20px;
	float: right;
}

#input_searchProduct{
    
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color:white;
    font-size: 100%;
}

#IntrestAreaImageProfile{
	width: 100px;;
	float: left;	
}
#ProductImageProfile{
	width: 100px;
}
#leftLink:HOVER {
	background-color: skyblue;
}



/* Style for footer Start here */

#footer {
    margin-top:-5px;
    padding: 0px;
    width: 100%;
    height: 100px;
    background-image: url('../images/f.png');
    background-repeat: repeat-x;
}
#footer-box {
    margin: 0px auto;
    padding: 0px;
    width: 980px;
    height: 90px;
}
.footer_left {
    float: left;
    margin: 10px 30px 0px 0px;
    padding: 0px;
    width: 302px;
    height: 80px;
}
.divide {
    border-bottom: 1px dashed #999;
    height: 1px;
    width: 302px;
    margin: 5px 0px;
}

.foot-links {
    float: left;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    font: 12px Trebuchet MS;
    color: #FFF;
}
.footer_right {
    float: right;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 315px;
    height: 90px;
}
h4 {
    font: bold 16px/18px Trebuchet MS;
    color: #030;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/* Style for footer End here */

#Shortlinks{
	color: black;
	text-decoration: none;
}
#Shortlinks:HOVER{
	color: #008000;
	text-decoration: none;
}


#middleHome{
    border-radius: 3px;
    width: 790px;
    height: 1065px;
    background-color: bisque;
    overflow: auto;
    margin-right: 305px;
    padding-right: 20px;
}

#outsidemiddleHome{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 1065px;
    background-color: bisque;
    /* background-color: #CCC4FF; */
    overflow: hidden;
    margin-right: 305px;
}
.connectBtn
{
	height: 30px;
	width: 67px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
	color:black;
	cursor: pointer;
	border-radius:5px;
	border: 1px solid rgba(251, 157, 9, 1);
}
.connectBtn:HOVER
{
	height: 30px;
	width: 67px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(137, 134, 129, 0.52);
	color:black;
	cursor: pointer;
	border-radius:5px;
	border: 1px solid rgba(251, 157, 9, 1);
}

.LikeUnlikeBtn
{
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    border: medium none;
    cursor: pointer;
    background-color: rgba(26, 118, 222, 0.62);
    width: 110px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid rgba(17, 196, 245, 0.56);
    font-size: 17px;
    color: black;
}
.LikeUnlikeBtn:HOVER
{
    background: repeat scroll 0% 0% transparent;
    border: medium none;
    cursor: pointer;
    background-color: rgba(26, 118, 222, 0.99);
    width: 110px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid orange;
    font-size: 19px;
}
#MayKnowUserName{
	background: none;
	border: none;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	max-width: 175px;
}
#VUVsearchByProBtn{
	height: 38px;
	width: 80px;
	color:white;
	background-color: green;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
}
#VUVsearchByProBtn:HOVER{
	height: 38px;
	width: 80px;
	color:black;
	background-color: rgba(188, 26, 249, 0.75);
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
	cursor: pointer;
}
#ViewProDetailsBtn{
	height: 35px;
	width: 110px;
	color:white;
	background-color:rgba(188, 26, 249, 0.75);
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
}
#ViewProDetailsBtn:HOVER{
	height: 35px;
	width: 110px;
	color:black;
	background-color: rgba(21, 245, 21, 0.59);
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
	cursor: pointer;
}

#SearchByProTxt{
	width:200px;
	height:30px;
	margin-top:10px;
	border: 1px solid gray;
	border-radius:5px;
	background-color: rgba(246, 212, 212, 0.42);
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#SearchByProTxt:HOVER{
	width:200px;
	height:30px;
	border: 2px solid red;
	border-radius:5px;
	background-color:white;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.savebtn
{
	background-color: rgba(237, 165, 49, 1);
	height: 40px;
	width: 132px;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	font: 16px/100% Arial,Helvetica,sans-serif;
	border-radius:5px;
}
.savebtn:HOVER
{
	background-color:menu;
	height: 40px;
	width: 132px;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	font: 16px/100% Arial,Helvetica,sans-serif;
	border-radius:5px;
}

#VUVloginBtn{
	height: 35px;
	width: 80px;
	color:white;
	background-color: green;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
}
#VUVloginBtn:HOVER{
	height: 35px;
	width: 80px;
	color:black;
	background-color: rgba(188, 26, 249, 0.75);
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}
#FriendsName{
	background: none;
	border: none;
	cursor:pointer;
	color:rgba(23, 21, 22, 0.57);
	font-size: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#FriendsName:HOVER{
	background: none;
	border: none;
	cursor:pointer;
	color:black;
	font-size: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}