/* 
    Document   : style
    Created on : Dec 9, 2013, 1:26:56 PM
    Author     : Manoj Sawant (sawantmanojm@gmail.com)
    Description: Purpose of the stylesheet follows.
*/

/*********** CSS properties for VanjariUdyogVishwa By-sawantmanojm@gmail.com ***********/
root { 
    display: block;
}

body{
   background-color: #EAE4E4;
	font-family: "Verdana" /* , "Trebuchet MS", "Arial", "Helvetica",  "sans-serif" */;
}

input[type="text"],input[type="password"],input[type="email"]{
	padding: 0px 8px;
}
input[type="text"]:FOCUS, input[type="password"]:FOCUS,input[type="email"]:FOCUS{
	padding: 0px 8px;
}
#main{
    background-color: bisque; 
    width: 1400px;
    height: 1440px;
    margin: 10px 50px 10px 50px;
   
    border-radius: 3px;
}
#mainMsg{
    background-color: bisque; 
    width: 1400px;
    height: fit-content;
    margin: 10px 50px 10px 50px;
    border: 1px solid gray; 
    border-radius: 3px;
}
#mainNoti{
    background-color: bisque; 
    width: 1400px;
    height: 1315px;
    margin: 10px 50px 10px 50px;
    border-radius: 3px;
}
#mainInterestAreas{
    
    background-color: bisque;
    width: 1400px;
    height: fit-content;
    margin: 10px 50px 10px 50px;
    border: 3px solid violet; 
    border-radius: 3px;
}

#oldnotification:hover, #close:hover
{
cursor: pointer;
}

		#logo1
		{
			width:141px;
			height:143px;
			margin-left: -1000px;
		        margin-bottom: -144px;
		        
		}
		
		.RegistrationCredentials{
			color:black;
			font-size: 20px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
            .style1 {font-family: "3D LET (BRK)"}
            .style2 {font-family: "Adobe Garamond Pro"}
            .style6 {font-size: 24px}
            .style7 {font-size: 9px}
            .style8 {
                font-size: 16px;
            }
            .style10 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 19px;
            }
            .style16 {
                font-family: Verdana;
                margin-right: 100px;
            }
            .style21 {font-family: Verdana; font-size: 9px; }
            .style24 {font-size: 12px}
           /*  .style27 {
                color: #0099FF;
                border: 1px;
                border-color: #0066FF;
                margin-right: 120px;
            } */
            .style34 {color: #686868}
            .style36 {
                color: #99CC33;
                font-size: 30px;
                font-family: "Adobe Caslon Pro Bold";
            }
            .style42 {color: #cococo; font-size: 30px; }
            .style46 {color: #686868; font: 12px Verdana;}
            .style59 {
                color: #686868;
                font: 12px Verdana;
                font-family: Verdana;
            }
            .style64 {font-size: 24px; color: #99CC33; }
            .style71 {color: #99CC00}
            .style72 {
                font-family: "Adobe Caslon Pro Bold";
                font: bold;
                color: #99CC33;
            }
            .style74 {font-family: Verdana}
            .style75 {color: #99CC33}
            .style76 {font-family: Verdana; color: #99CC33; }
            .style77 {font-family: ELEGANCE; color: #686868; }




#Header{
    border-radius: 3px;
    background-image: url('../images/header_bg.png');
    background-repeat: repeat-y;
    /* background-color: #fcca7b; */
    width: 100%;
    height: 200px;
    margin: 0px 50px 0px 0px;
     
    
}
#hiderMenu{
    border-radius: 3px;
    background: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 38%, #F8B500 51%, #FBDF93 100%) repeat scroll 0% 0% transparent;
    width: 100%;
    height: 40px;
    margin: 0px 50px 5px 0px;
    font-size: 130%;
       
}
.menuContent
{
	text-decoration: none;
	color: white;
}


#anchor{
    margin-right: 30px;
    font:normal 18px Trebuchet MS;
    color:Black;
    text-decoration: none;
 }
 #anchor:hover{
  	margin-right: 30px;
    font:normal 20px Trebuchet MS;
    color:green;
    text-decoration: none;
 }

#input_search{
    margin-top:10px;
    margin-left: 400px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    background-color:white;
    font-size: 100%;
}
#profile_photo{
    
    float: right;
    font-size: 100%;
    margin-right: 55px;
   
}

.userStatusImage
{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#commentBox
{
	width: 666px;
	height: 50px;
	margin-top: 3px;
	border-radius: 8px;
}

#Showcomment
{
	width: 666px;
	height: auto;
	margin-top: -10px;
	border-radius: 8px;
}
#Showcomment:HOVER
{
	width: 666px;
	height: auto;
	margin-top: -10px;
	border-radius: 8px;
}

#editCommentBtnHome{
	width: 50px;
	height: 25px; 
	margin-bottom: -5px;
	font-size: 16px;
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: orange;
    color: black;
    border: 1px solid rgba(17, 196, 245, 0.56);
    border-radius: 5px;
    cursor: pointer;
	
}
#editCommentBtnHome:HOVER{
	width: 50px;
	height: 25px; 
	margin-bottom: -5px;
	font-size: 16px;
	border: 0px 0px 0px 350px;
	background: repeat scroll 0% 0% transparent;
    background-color: rgba(243, 246, 249, 0.43);
    color: black;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}
#editCommentResetBtn{
	width: 50px;
	height: 25px;
	margin-bottom: -5px;
	font-size: 16px;
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: orange;
    color: black;
    border: 1px solid rgba(17, 196, 245, 0.56);
    border-radius: 5px;
    cursor: pointer;
}
#editCommentResetBtn:HOVER{
	width: 50px;
	height: 25px;
	margin-bottom: -5px;
	font-size: 16px;
	background: repeat scroll 0% 0% transparent;
    background-color: rgba(243, 246, 249, 0.43);
    color: black;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
}
.commentBoxImage
{
	float : left;
	margin-top: 3px;
	margin-left: 3px;
	
}

.StatusContent
{
	margin-top: 5px; 
	float: left; 
	margin-left: 10px;

	width:666px;
	
}

#leftMain{
    border-radius: 3px;
    float: left;
    width: 300px;
    height:1195px;
    overflow: auto;
    background-color: bisque;
   
}
#leftMainNotification{
    border-radius: 3px;
    float: left;
    width: 300px;
    height:1070px;
    overflow: auto;
    background-color: bisque;
   	margin-top: -5px;
}

#peopleMayKnw
{
	width: 290px;
    height: auto;
    max-height: 500px;
    overflow: auto;
    border-radius: 3px;
    background-color: bisque;
    /* border: 1px solid gray; */
}

#leftMain1{
    float: left;
    width: 290px;
    height: auto;
    max-height:500px;
    overflow: auto;
    border-radius: 3px;
    margin:0px 2px 0px 7px;
    background-color: bisque;
    /* border: 1px solid gray; */
}

#leftMain2{
    border-radius: 3px;
    float: left;
    width: 300px;
    height:213px;
    margin: -20px 0px 8px 0px;
    background-color: bisque;
     /* border: 1px solid gray; */
}
#leftMain3{
    border-radius: 3px;
    float: left;
    width: 300px;
    height:590px;
    overflow: auto;
    margin:-9px 0px 0px 0px;
    background-color: bisque;
    /* border: 1px solid gray; */
}

#MiddleTop{
    
    border-radius: 5px;
    width: 790px;
    height: 120px;
    background-color: bisque;
    border: 1px solid rgba(245, 186, 118, 0.8); 
   
}
#MiddleTopEvent{
    border-radius: 5px;
    width: 790px;
    height: 350px;
    background-color: bisque;
    border: 1px solid gray;
}

#MiddleTopProduct{
    border-radius: 5px;
    width: 790px;
    height: 300px;
    background-color: bisque;
    border: 1px solid gray;
    margin-top: 25px;
    box-shadow: 10px 10px 5px #888888;
}
#middle{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 893px;
    background-color: bisque;
    border: 1px solid gray; 
}

#middleHome{
  
    border-radius: 3px;
    width: 790px;
    height: 1065px;
    background-color: bisque;
    /* background-color: #CCC4FF; */
  
    overflow: auto;
    margin-right: 305px;
    padding-right: 20px;
}

#outsidemiddleHome{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 1065px;
    background-color: bisque;
    /* background-color: #CCC4FF; */
    overflow: hidden;
    margin-right: 305px;
    
    
}
#middleMsg{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 999px;
    background-color: bisque;
    border: 1px solid aqua; 
}
#middleEvent{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
}

#middlePhotos{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 1000px;
    background-color: bisque;
}

#middleStep4{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
    
}
#middleStep10{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 715px;
    background-color: bisque;
    border: 1px solid aqua; 
}
#middleOccupation{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
}
#ShowStatusUpdet{
    width: 786px;
    margin-top: 10px;
    float: left;
    height: auto;
	border: 2px solid rgba(245, 186, 118, 0.8);
	background-color: transparent;
	border-radius:5px;
}

#MsgShowArea{
    
    margin:5px auto auto 17px;
    width: 735px;
    height: 400px;
}
#MsgToArea{
    
    margin:5px auto auto 17px;
    width: 735px;
    height: 90px;
}
#MsgTo{
float: left;
margin:5px auto auto 5px;
}

#CommentToStatus{
    background-color: burlywood;
}

#  {
    border-radius: 3px;
    margin-top: -1003px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMain{
    border-radius: 3px;
    margin-top: -1195px;
    width: 300px;
    height: 1000px;
    background-color: transparent;
    float: right;
  
}
#rightMainPhotos{
    border-radius: 3px;
    margin-top: -648px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}
#rightMainEvents{
    border-radius: 3px;
    margin-top: -1005px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMainProducts{
    border-radius: 3px;
  	margin-top: -350px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}


#rightMainAccSetting{
    border-radius: 3px;
    margin-top: -895px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}

#InterestAreas:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: azure;
    
}
#rightMainMSG{
    border-radius: 3px;
    margin-top: -1002px;
    width: 300px;
    height: 1000px;
    float: right;
    border: 1px solid gray; 
}
#InterestAreas{
    border-radius: 3px;
    border: 1px solid aqua;
    float: left;
    width: 462px;
    height:300px;
    background-color: bisque;
}
#InterestAreas:hover {
    border-radius: 35px;
    background-color: whitesmoke;
    border: 1px solid aqua;
    
} 
#Products{
    border-radius: 3px;
    border: 1px solid aqua;
    width: 462px;
    height:300px;
    background-color: bisque;
}
#Products:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
} 
#Friends{
    float: right;
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: -302px;
    width: 462px;
    height:300px;
}
#Friends:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
} 
#ProfileDetails{
    margin-top: 5px;
    float: left;
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    width: 930px;
    height:200px;
}
#ProfileDetails:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#Photos{
    
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: 7px;
    width: 464px;
    height:300px;
}
#Photos:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#RightUpdatedStatus{
    
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: 5px;
    width: 464px;
    height:1340px;
}
#RightUpdatedStatus:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#NeedTop{
    
    border-radius: 10px;
    width: 790px;
    height: 250px;
    background-color: bisque;
    display: none;
    border: 1px solid gold;
}
#NeedTopHome{
    float: right;
    /*margin-right: 305px;*/
    margin-left: 305px;
    border-radius: 5px;
    width: 790px;
    height: 270px;
    background-color: bisque;
    display: none;
    margin-bottom: 35px;
    border: 1px solid gray; 
    position: absolute;
}
#NeedTopProfile{
    /*float: right;*/
    margin-left: 305px;
    border-radius: 35px;
    width: 790px;
    height: 270px;
    background-color: bisque;
    display: none;
    margin-bottom: 35px;
    border: 1px solid aqua; 
    position: absolute;
}
#NotificationTopHome{
    border-radius: 5px;
    width: 350px;
    height: 300px;
    background-color: bisque;
    display: none;
    margin-left: 650px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    box-shadow: 5px 12px 12px gray;
 }
#InsideNotificationTopHome{
    border-radius: 5px;
    width: 350px;
    height: 300px;
    background-color: bisque;
    /* margin-left: 650px; */
    position: absolute;
    overflow: auto;
    padding-left: 13px;
 }
#RequestTopHome{
    border-radius: 5px;
    width: 350px;
    height:auto;
    background-color: bisque;
    display: none;
    margin-left: 820px;
    border: 1px solid gray; 
    position: absolute;
    z-index: 1;
}

#SettingTopHome{
    border-radius: 5px;
    width: 300px;
    height:auto;
    background-color: bisque;
    display: none;
    margin-left: 950px;
    border: 1px solid gray; 
    position: absolute;
    z-index: 1;
}

#NeedRightMain{
    border-radius: 10px;
    margin-top: -1002px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua;
}

#NeedMiddle{
    margin-top: 5px;
    border-radius: 10px;
    width: 790px;
    height: 1000px;
    background-color: bisque;
    border: 1px solid aqua;
}

#info_step2
{
    height: 505px;
    width: 790px;
    background-color: bisque;
    margin-top: 5px;
    border-radius: 10px ;
}
#leftMainInterestAreas{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:505px;
    overflow: auto;
    background-color: bisque;
    /* border: 1px solid aqua; */ 
}
#leftMainStep3{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:645px;
    overflow: auto;
    background-color: bisque;
    /* border: 1px solid gray;  */
}
#leftMainStep10{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:713px;
    overflow: auto;
    background-color: bisque;
    /* border: 1px solid gray;  */
}

#rightMainInterestAreas{
    border-radius: 3px;
    margin-top: -507px;
    width: 300px;
    height: 505px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMainStep3{
    border-radius: 3px;
    margin-top: -647px;
    width: 300px;
    height: 644px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}
#rightMainStep10{
    border-radius: 3px;
    margin-top: -715px;
    width: 300px;
    height: 712px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}

#RightProfile{
    
    width: 463px; 
    height: 1700px; 
     
    margin-left: 935px;
}

#aa{
	height: 100px;
	 width: 100px; 
	 background: red; 
	 display: none;	
}

.buttonclr
{
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
	height: 30px;
	width: 60px;
}

.connectBtn
{
	height: 35px;
	width: 80px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border-radius:5px;
	
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: orange;
    color: black;
    border: 1px solid orange;
    transition: all 1s;
}
.connectBtn:HOVER
{
	height: 35px;
	width: 80px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border-radius:5px;
	
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: rgba(26, 118, 222, 0.43);
    color: white;
    border: 1px solid orange;
	transition: all 1s;
}

.LikeUnlikeBtn
{
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: orange;
    color: black;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    transition: all 1s;
}
.LikeUnlikeBtn:HOVER
{
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    background-color: rgba(243, 246, 249, 0.43);
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    transition: all 1s;
}

.savebtn
{
	background-color: rgba(237, 165, 49, 0.31);
	height: 40px;
	width: 132px;
	border: 1px solid #87CEEB;
	color: black;
	cursor: pointer;
	font: 16px/100% Arial,Helvetica,sans-serif;
	border-radius:5px;
	transition: all 1s;
}
.savebtn:HOVER
{
	background-color: rgba(243, 246, 249, 0.43);
	height: 40px;
	width: 132px;
	border: 2px solid #87CEEB;
	color: black;
	cursor: pointer;
	font: 16px/100% Arial,Helvetica,sans-serif;
	border-radius:5px;
	transition: all 1s;
}

.photoviewer
{
	height: 100px;
	width: 100px;
} 
.photoviewer:HOVER
{
	height: 500px;
	width: 600px;
	position: absolute;
	border: 5px solid black;
}

#enlargePhoto
{
  display: none;
  
}
.error {
	color: #ff0000;
	font:15px arial,sans-serif;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}


/*Change Password*/

#outsidemiddlechangepwd{
	 margin-top: 10px;
	width: 780px;
    height: 890px;
    background-color: transparent;
    /* margin-right: 5px; */
    border: 1px solid orange;
    border-radius:6px;
}
#MiddleTopchangepwd
{
	 margin-left:298px;
	border-radius: 5px;
    width: 790px;
    height: 295px;
    background-color: transparent;
    margin-right: 305px;
  /*   border: 1px solid orange;
    border-radius:6px; */
}
#changeMyPwd
{
	width: 790px;
    height: 250px;
	margin-right: 305px;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid gray;
}
#rightmainchangepwd
{
	 border-radius: 3px;
    margin-top: -1198px;
    width: 300px;
    height: 1000px;
    background-color: transparent;
    float: right;
   
}
#changepwdpplMayKnw
{
	width: 290px;
    height: 248px;
    overflow: auto;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid gray;	
}

#changepwdleftMain2
{
	 border-radius: 3px;
    float: left;
    width: 290px;
    height:248px;
    overflow: auto;
    margin:2px 2px 0px 7px;
    background-color: bisque;
     /* border: 1px solid gray; */
}

#leftLink:HOVER {
	background-color: skyblue;
}

/* Style for footer Start here */

#footer {
    margin-top:-5px;
    padding: 0px;
    width: 1400px;
    height: 150px;
    background-image: url('../images/f.png');
    background-repeat: repeat-x repeat-y;
}
#footer-box {
    margin: 0px auto;
    padding: 0px;
    width: 980px;
    height: 90px;
}
.footer_left {
    float: left;
    margin: 10px 30px 0px 0px;
    padding: 0px;
    width: 460px;
    height: 110px;
}
.divide {
    border-bottom: 1px dashed #999;
    height: 1px;
    width: 302px;
    margin: 5px 0px;
}

.foot-links {
    float: left;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    font: 18px Trebuchet MS;
    color: #474242;
}
.footer_right {
    float: right;
    margin: 10px -205px 0px;
    padding: 0px;
    width: 460px;
    height: 110px;
}
h4 {
    font: bold 24px/18px Trebuchet MS;
    color: #030;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/* Style for footer End here */

#Shortlinks{
	color: black;
	text-decoration: none;
}
#Shortlinks:HOVER{
	color: #008000;
	text-decoration: none;
}
#MayKnowUserName{
	background: none;
	border: none;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	max-width: 175px;
}
#VUVsearchByProBtn{
	height: 38px;
	width: 80px;
	color:white;
	background-color: green;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
}
#VUVsearchByProBtn:HOVER{
	height: 38px;
	width: 80px;
	color:black;
	background-color: rgba(188, 26, 249, 0.75);
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin-top: 7px;
	cursor: pointer;
}
#ViewProDetailsBtn{
	height: 35px;
	width: 110px;
	color:black;
	background-color:rgba(188, 26, 249, 0.25);
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin: 7px 10px 10px 2px;
	transition:all 1s;
}
#ViewProDetailsBtn:HOVER{
	height: 35px;
	width: 110px;
	color: #D9F6C2;
	background-color:rgba(188, 26, 249, 0.35);
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	margin: 7px 10px 10px 2px;
	cursor: pointer;
	transition:all 1s;
}

#SearchByProTxt{
	width:200px;
	height:30px;
	margin-top:10px;
	border: 1px solid gray;
	border-radius:5px;
	background-color: rgba(246, 212, 212, 0.42);
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#SearchByProTxt:HOVER{
	width:200px;
	height:30px;
	border: 2px solid red;
	border-radius:5px;
	background-color:white;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#VUVloginBtn{
	height: 35px;
	width: 80px;
	color: black;
	background-color: rgba(122, 215, 122, 1);
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	transition: all 1s;
}
#VUVloginBtn:HOVER{
	height: 35px;
	width: 80px;
	color: white;
	background-color: #87CEEB;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	transition: all 1s;
}

#MsgFromFriendDetails{
	max-width:600px;
	width: 600px;
	height: auto;
	background-color: yellow;
	border: 2px solid green;
	border-radius:50px;
	float: left;
	clear: right;
	margin: 0px 0px 30px 2px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#msgToFriendDetails{
	max-width:600px;
	width: 600px;
	height: auto;
	background-color: pink;
	border: 2px solid blue;
	border-radius:50px;
	float: right;
	clear: left;
	margin: 0px 40px 30px 0px ;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #NotiTRdiv:HOVER{
	background-color: rgba(196, 255, 224, 0.52);
} */

#rightMiddleIndex{
	width: 50%;
	height: 800px;
	/* background-color: yellow; */
	float: right;
}
#leftMiddleIndex{
	width: 50%;
	height: 800px;
	/* background-color: red; */
	float: left;
}
#MyRegistrationTable{
	width: 70%;
	height: 678px;
	margin-left: 5%;
	margin-top:50px;
	background-color: rgba(195, 222, 233, 0.33);
	box-shadow: 4px 4px 40px 4px rgba(0, 128, 0, 0.77);
	border-radius: 10px;
}

#ProfileImageMsgFrnd{
	width: 80px;
	height: 70px;
	border: 4px solid black;
	border-radius: 10px;
	/* position: fixed; */
	/* z-index: 1; */
}

#showEventUserName{
	color:green;
	text-decoration:none;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#showEventCred{
	color:black;
	text-decoration:none;
	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#InstructionChangePwd{
	width: 550px;
	height: 170px;
	margin-top: 50px;
	border: 1px solid gray;
	border-radius:2px;
	background-color: rgba(255, 255, 255, 0.63);
}

/*********** CSS properties for Registration Steps By-Sawantmanojm@gmail.com ***********/

			#MyIntrestAreas {
				width: 740px;
				height: 980px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#MyOccupation {
				display: none;
				width: 610px;
				height: 690px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#MyContactDetails {
				display: none;
				width: 620px;
				height: 480px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				margin-top: 100px;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#MyReligionDetails {
				display: none;
				width: 560px;
				height: 390px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				margin-top: 100px;
				border: 1px solid gray;
				margin-bottom: 30px;
				margin-top: 20px;
			}
			
			#MyEducationDetails {
				display: none;
				width: 600px;
				height: 700px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#MyHobbies {
				display: none;
				width: 600px;
				height: 755px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#MyOtherDetails {
				display: none;
				width: 560px;
				height: 645px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			#ThankYouMsg{
				width: 560px;
				height: 645px;
				background-color: red;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
	
	/***** View Previous Registration Step div *****/
			
			#PrevMyIntrestAreas {
				display:none;
				width: 740px;
				height: 980px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#PrevMyOccupation {
				display: none;
				width: 600px;
				height: 635px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#PrevMyContactDetails {
				display: none;
				width: 560px;
				height: 420px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				margin-top: 100px;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#PrevMyReligionDetails {
				display: none;
				width: 560px;
				height: 390px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				margin-top: 100px;
				border: 1px solid gray;
				margin-bottom: 30px;
				margin-top: 20px;
			}
			
			#PrevMyEducationDetails {
				display: none;
				width: 560px;
				height: 680px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#PrevMyHobbies {
				display: none;
				width: 600px;
				height: 755px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
			#PrevMyOtherDetails {
				display: none;
				width: 560px;
				height: 645px;
				background-color: #FFE4C4;
				box-shadow: 10px 10px 5px #888888;
				border: 1px solid gray;
				margin-bottom: 25px;
				margin-top: 20px;
			}
			
	/***** View Previous Registration Step div END *****/

/*********** CSS properties for Registration Steps By-Sawantmanojm@gmail.com  End ***********/

input[type="text"],input[type="password"],input[type="email"], select {
	width:235px;
	height:30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius:5px;
	background-color: transparent;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 3px 8px 3px 8px;
	color: black;
	transition: all 1s cubic-bezier(0,0,0.79,0.27) 0s;
}
			
input[type="text"]:FOCUS, input[type="password"]:FOCUS,input[type="email"]:FOCUS, select :ACTIVE{
	width:235px;
	height:30px;
	border: 1px solid rgba(28, 87, 227, 0.28);
	border-radius:5px;
	background-color: rgba(255, 255, 255, 0.69);
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 3px 8px 3px 8px;
	color: rgba(68, 140, 70, 1);
	transition: all 1s cubic-bezier(0,0,0.79,0.27) 0s;
}
