/* 
    Document   : style
    Created on : Dec 9, 2013, 1:26:56 PM
    Author     : ab
    Description: Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
   background-color: menu;
	font-family: "Verdana" /* , "Trebuchet MS", "Arial", "Helvetica",  "sans-serif" */;
}

#main{
    background-color: white; 
    width: 1400px;
    height: 2300px;
    margin: 10px 50px 10px 50px;
   
    border-radius: 3px;
}
#mainMsg{
    background-color: white; 
    width: 1400px;
    height: fit-content;
    margin: 10px 50px 10px 50px;
    border: 1px solid gray; 
    border-radius: 3px;
}
#mainInterestAreas{
    
    background-color: white;
    width: 1400px;
    height: fit-content;
    margin: 10px 50px 10px 50px;
    border: 3px solid violet; 
    border-radius: 3px;
}

#oldnotification:hover, #close:hover
{
cursor: pointer;
}

    #logo1
{
	width:141px;
	height:143px;
	margin-left: -1000px;
        margin-bottom: -144px;
        
}



            .style1 {font-family: "3D LET (BRK)"}
            .style2 {font-family: "Adobe Garamond Pro"}
            .style6 {font-size: 24px}
            .style7 {font-size: 9px}
            .style8 {
                font-size: 10px;
            }
            .style10 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9px;
            }
            .style16 {
                font-family: Verdana;
                margin-right: 100px;
            }
            .style21 {font-family: Verdana; font-size: 9px; }
            .style24 {font-size: 12px}
            .style27 {
                color: #0099FF;
                border: 1px;
                border-color: #0066FF;
                margin-right: 120px;
            }
            .style34 {color: #686868}
            .style36 {
                color: #99CC33;
                font-size: 30px;
                font-family: "Adobe Caslon Pro Bold";
            }
            .style42 {color: #cococo; font-size: 30px; }
            .style46 {color: #686868; font: 12px Verdana;}
            .style59 {
                color: #686868;
                font: 12px Verdana;
                font-family: Verdana;
            }
            .style64 {font-size: 24px; color: #99CC33; }
            .style71 {color: #99CC00}
            .style72 {
                font-family: "Adobe Caslon Pro Bold";
                font: bold;
                color: #99CC33;
            }
            .style74 {font-family: Verdana}
            .style75 {color: #99CC33}
            .style76 {font-family: Verdana; color: #99CC33; }
            .style77 {font-family: ELEGANCE; color: #686868; }




#Header{
    border-radius: 3px;
    background-color: #fcca7b;
    width: 1400px;
    height: 200px;
    margin: 0px 50px 0px 0px;
    border: 1px solid gray; 
    
}
#hiderMenu{
    border-radius: 3px;
    background-color: #fab039;
    width: 1400px;
    height: 40px;
    margin: 2px 50px 5px 0px;
    font-size: 150%;
    border: 1px solid gray; 
    
}
.menuContent
{
	text-decoration: none;
	color: white;
}


#anchor{
    margin-left: 80px;
    font-family: white;
 }
 #anchor:hover{
    
    border-radius: 10px;
 }

#input_search{
    margin-top:10px;
    margin-left: 400px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    background-color:white;
    font-size: 100%;
}
#profile_photo{
    
    float: right;
    font-size: 100%;
    margin-right: 55px;
   
}

.userStatusImage
{

float: left;

}

#commentBox
{
	background-color: #fcca7b;
	width: 550px;
	height: 50px;
	margin-top: 10px;
	
	
}

#Showcomment
{
	background-color: #fcca7b;
	width: 550px;
	height: auto;
	margin-top: -10px;
	
}

.commentBoxImage
{
	float : left;
	margin-top: 5px;
	margin-left: 20px;
	
}

.StatusContent
{
	margin-top: 5px; 
	float: left; 
	margin-left: 10px;

	width:560px;
	
}

#leftMain{
    border-radius: 3px;
    float: left;
    width: 300px;
    height:1000px;
    overflow: auto;
    background-color: white;
   
}

#peopleMayKnw
{
	width: 290px;
    height: auto;
    max-height: 500px;
    overflow: auto;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid gray;
}

#leftMain1{
    float: left;
    width: 290px;
    height: auto;
    max-height:500px;
    overflow: auto;
    border-radius: 3px;
    margin:0px 2px 0px 7px;
    background-color: bisque;
    border: 1px solid gray;
}

#leftMain2{
    border-radius: 3px;
    float: left;
    width: 290px;
    height:323px;
    margin:2px 2px 0px 7px;
    background-color: bisque;
     border: 1px solid gray;
}
#leftMain3{
    border-radius: 3px;
    float: left;
    width: 290px;
    height:323px;
    overflow: auto;
    margin:2px 2px 0px 7px;
    background-color: bisque;
    border: 1px solid gray;
}

#MiddleTop{
    
    border-radius: 5px;
    width: 790px;
    height: 120px;
    background-color: bisque;
    border: 1px solid gray; 
   
}
#MiddleTopEvent{
    border-radius: 5px;
    width: 790px;
    height: 350px;
    background-color: bisque;
    border: 1px solid gray;
}

#MiddleTopProduct{
    border-radius: 5px;
    width: 790px;
    height: 300px;
    background-color: bisque;
    border: 1px solid gray;
}
#middle{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 893px;
    background-color: bisque;
    border: 1px solid gray; 
}

#middleHome{
  
    border-radius: 3px;
    width: 790px;
    height: 1000px;
    background-color: bisque;
  
    overflow: auto;
    margin-right: 305px;
    padding-right: 20px;
}

#outsidemiddleHome{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 1000px;
    background-color: bisque;
    border: 1px solid gray; 
    overflow: hidden;
    margin-right: 305px;
    
    
}
#middleMsg{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 999px;
    background-color: bisque;
    border: 1px solid aqua; 
}
#middleEvent{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
}

#middlePhotos{
    margin-top: 5px;
    border-radius: 3px;
    width: 790px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
}

#middleStep4{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
    
}
#middleStep10{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 715px;
    background-color: bisque;
    border: 1px solid aqua; 
}
#middleOccupation{
    margin-top: 5px;
    border-radius: 3px;
    width: 780px;
    height: 645px;
    background-color: bisque;
    border: 1px solid gray; 
}
#ShowStatusUpdet{
    width: 650px;
    margin-top: 10px;
    margin-left: 75px;
    float: left;
    height: auto;
   
}

#MsgShowArea{
    
    margin:5px auto auto 17px;
    width: 735px;
    height: 400px;
}
#MsgToArea{
    
    margin:5px auto auto 17px;
    width: 735px;
    height: 90px;
}
#MsgTo{
float: left;
margin:5px auto auto 5px;
}

#CommentToStatus{
    background-color: burlywood;
}

#  {
    border-radius: 3px;
    margin-top: -1003px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMain{
    border-radius: 3px;
    margin-top: -1130px;
    width: 300px;
    height: 1000px;
    background-color: white;
    float: right;
  
}
#rightMainPhotos{
    border-radius: 3px;
    margin-top: -648px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}
#rightMainEvents{
    border-radius: 3px;
    margin-top: -1005px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMainProducts{
    border-radius: 3px;
  	margin-top: -350px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}


#rightMainAccSetting{
    border-radius: 3px;
    margin-top: -895px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}

#InterestAreas:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: azure;
    
    
}

#rightMainMSG{
    border-radius: 3px;
    margin-top: -1002px;
    width: 300px;
    height: 1000px;
    float: right;
    border: 1px solid gray; 
}
#InterestAreas{
    border-radius: 3px;
    border: 1px solid aqua;
    float: left;
    width: 462px;
    height:300px;
    background-color: bisque;
}
#InterestAreas:hover {
    border-radius: 35px;
    background-color: whitesmoke;
    border: 1px solid aqua;
    
}
#Products{
    border-radius: 3px;
    border: 1px solid aqua;
    width: 462px;
    height:300px;
    background-color: bisque;
}
#Products:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#Friends{
    float: right;
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: -302px;
    width: 462px;
    height:300px;
}
#Friends:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#ProfileDetails{
    margin-top: 5px;
    float: left;
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    width: 930px;
    height:200px;
}
#ProfileDetails:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#Photos{
    
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: 7px;
    width: 464px;
    height:300px;
}
#Photos:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#RightUpdatedStatus{
    
    border-radius: 3px;
    border: 1px solid aqua;
    background-color: bisque;
    margin-top: 5px;
    width: 464px;
    height:1340px;
}
#RightUpdatedStatus:hover{
    border-radius: 35px;
    border: 1px solid aqua;
    background-color: whitesmoke;
}
#NeedTop{
    
    border-radius: 10px;
    width: 790px;
    height: 250px;
    background-color: bisque;
    display: none;
    border: 1px solid gold;
}
#NeedTopHome{
    float: right;
    /*margin-right: 305px;*/
    margin-left: 305px;
    border-radius: 5px;
    width: 790px;
    height: 270px;
    background-color: bisque;
    display: none;
    margin-bottom: 35px;
    border: 1px solid gray; 
    position: absolute;
}
#NeedTopProfile{
    /*float: right;*/
    margin-left: 305px;
    border-radius: 35px;
    width: 790px;
    height: 270px;
    background-color: bisque;
    display: none;
    margin-bottom: 35px;
    border: 1px solid aqua; 
    position: absolute;
}
#NotificationTopHome{
    border-radius: 5px;
    width: 350px;
    height: 300px;
    background-color: bisque;
    display: none;
    margin-left: 650px;
    border: 1px solid gray; 
    position: absolute;
    overflow: hidden;
    /* style="height: auto ;overflow:auto" */
 }
#InsideNotificationTopHome{
    border-radius: 5px;
    width: 350px;
    height: 300px;
    background-color: bisque;
    /* margin-left: 650px; */
    border: 1px solid gray; 
    position: absolute;
    overflow: auto;
 }
#RequestTopHome{
    border-radius: 5px;
    width: 350px;
    height:auto;
    background-color: bisque;
    display: none;
    margin-left: 820px;
    border: 1px solid gray; 
    position: absolute;
}

#SettingTopHome{
    border-radius: 5px;
    width: 300px;
    height:auto;
    background-color: bisque;
    display: none;
    margin-left: 950px;
    border: 1px solid gray; 
    position: absolute;
}

#NeedRightMain{
    border-radius: 10px;
    margin-top: -1002px;
    width: 300px;
    height: 1000px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua;
}

#NeedMiddle{
    margin-top: 5px;
    border-radius: 10px;
    width: 790px;
    height: 1000px;
    background-color: bisque;
    border: 1px solid aqua;
}

#info_step2
{
    height: 505px;
    width: 790px;
    background-color: bisque;
    
    margin-top: 5px;
    border-radius: 10px ;
    border:1px solid aqua;
}
#leftMainInterestAreas{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:505px;
    overflow: auto;
    background-color: bisque;
    border: 1px solid aqua; 
}
#leftMainStep3{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:645px;
    overflow: auto;
    background-color: bisque;
    border: 1px solid gray; 
}
#leftMainStep10{
    border-radius: 3px;
    float: left;
    margin-top: 5px;
    width: 300px;
    height:713px;
    overflow: auto;
    background-color: bisque;
    border: 1px solid gray; 
}

#rightMainInterestAreas{
    border-radius: 3px;
    margin-top: -507px;
    width: 300px;
    height: 505px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}
#rightMainStep3{
    border-radius: 3px;
    margin-top: -647px;
    width: 300px;
    height: 645px;
    background-color: bisque;
    float: right;
    border: 1px solid gray; 
}
#rightMainStep10{
    border-radius: 3px;
    margin-top: -715px;
    width: 300px;
    height: 713px;
    background-color: bisque;
    float: right;
    border: 1px solid aqua; 
}

#RightProfile{
    
    width: 463px; 
    height: 1700px; 
     
    margin-left: 935px;
}

#aa{
	height: 100px;
	 width: 100px; 
	 background: red; 
	 display: none;	
}

.buttonclr
{
	background-color: #fab039;
	height: 30px;
	width: 60px;
}
.connectBtn
{
	background-color: lime;
	height: 25px;
	width: 60px;
}
.LikeUnlikeBtn
{
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}

.savebtn
{
background-color: #fab039;
height: 30px	
}

.photoviewer
{
	height: 100px;
	width: 100px;
} 
.photoviewer:HOVER
{
	height: 500px;
	width: 600px;
	position: absolute;
	border: 5px solid black;
}

#enlargePhoto
{
  display: none;
  
}
.error {
	color: #ff0000;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}


/*Change Password*/

#outsidemiddlechangepwd{
	 margin-top: 5px;
	width: 790px;
    height: 1000px;
    background-color: white;
    margin-right: 305px;
}
#MiddleTopchangepwd
{
	 margin-left:303px;
	border-radius: 5px;
    width: 790px;
    height: 250px;
    background-color: white;
    margin-right: 305px;
    
}
#changepwd
{
	width: 790px;
    height: 250px;
	 margin-right: 305px;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid gray;
}
#rightmainchangepwd
{
	 border-radius: 3px;
    margin-top: -1255px;
    width: 300px;
    height: 1000px;
    background-color: white;
    float: right;
   
}
#changepwdpplMayKnw
{
	width: 290px;
    height: 248px;
    overflow: auto;
    border-radius: 3px;
    background-color: bisque;
    border: 1px solid gray;	
}

#changepwdleftMain2
{
	 border-radius: 3px;
    float: left;
    width: 290px;
    height:248px;
    overflow: auto;
    margin:2px 2px 0px 7px;
    background-color: bisque;
     border: 1px solid gray;
}

#leftLink:HOVER {
	background-color: skyblue;
}